# Redis Cloud
REDIS_URL=

# Upstox API
UPSTOX_API_KEY=
UPSTOX_ACCESS_TOKEN=

# ICICI Breeze API
ICICI_BREEZE_API_KEY=
ICICI_BREEZE_CLIENT_ID=
ICICI_BREEZE_PASSWORD=

# Anthropic Claude API
ANTHROPIC_API_KEY=

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_GA_ID=G-JG49CPPCZT
